<header>

  <div #generator id="generator">
    <select sc-select [(ngModel)]="itemsToGenerate">
      <option [value]="1">1Item</option>
      <option [value]="5">5 Items</option>
      <option [value]="10">10 Items</option>
      <option [value]="30">30 Items</option>
      <option [value]="100">100 Items</option>
      <option [value]="123">123 Items</option>
      <option [value]="1000">1.000 Items</option>
      <option [value]="10000">10.000 Items</option>
      <option [value]="100000">100.000 Items</option>
      <option [value]="1000000">1.000.000 Items</option>
      <option [value]="10000000">10.000.000 Items (!)</option>
      <option [value]="100000000">100.000.000 Items (!)</option>
      <option [value]="1000000000">1.000.000.000 Items (!)</option>
    </select>
    <button sc-button (click)="showItems()">Generate</button>
  </div>

  <div #fetching id="fetching">
    <input sc-checkbox id="enableFetchCheckbox" type="checkbox" [(ngModel)]="enableFetch">
    <label for="enableFetchCheckbox">Enable Fetch</label>
  </div>
  <div #noScrollbar id="no-scrollbar">
    <input sc-checkbox id="enableNoScrollbar" type="checkbox" [(ngModel)]="noScrollBar">
    <label for="enableNoScrollbar">NoScrollbar</label>
  </div>
</header>

<ul #virtualScroller
  class="virtual-scroll"
  [virtualScrollFor]="virtualScrollItems" 
  (viewChanged)="data = $event"
  (fetchData)="fetch($event)"
  [noScrollBar]="noScrollBar" 
  [itemHeight]="45">

  <li *ngFor="let item of data?.collection">
    <span>{{ item }}</span>
    <span>END</span>
  </li>

</ul>
