@import '../styles/theme';
@import '../styles/mixin';

:host {
  background-color: #dedede;
  display: block;
  padding: 30px;

  header {
    @include box-shadow(2);
    align-items: center;
    background-color: $primary;
    color: $white;
    display: flex;
    flex-direction: row;
    height: 55px;
    padding: 0 16px;

    #generator {
      flex: 1 0;
      
    }

    #fetching {
      flex: 1 0;
      text-align: right;
    }
  
  }

  .virtual-scroll {
    @include box-shadow(2);
    background-color: $white;
    display: block;
    height: 315px;
    // width: 400px;
    // margin-left: 200px;
    list-style: none;
    padding: 0;

    li {
      align-items: center;
      border-bottom: solid 1px #dfdfdf;
      color: #333;
      display: flex;
      height: 45px;
      line-height: 30px;
      margin: 0;
      padding: 0 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .footer {

    height: 400px;
    padding: 20px;
    background-color: steelblue;

    .scroll-content {
      background-color: cadetblue;
      width: 400px;
      height: 300px;
      overflow: hidden;
      position: relative;

      .scroll-inner {
        box-sizing: content-box;
        display: inline-block;
        overflow: hidden;
        overflow-y: scroll;
        margin-left: -50px;
        padding: 0 50px;
        height: 100%;
        width: 100%;

        > div {
          background-color: magenta;
          width: 400px;
        }
      }


      // .scroll-wrapper {
      //   display: inline-block;
      //   background-color: antiquewhite;
      //   overflow: auto;
      //   height: 250px;
      //   padding: 0 50px;
      //   margin: 0 50px 0 -50px;
      //   width: 300px;
        
      //   .scroll-inner {
      //     border: solid 1px blue;
      //     background-color: magenta;
          
      //   }
      // }
    }
  }
}
