
:host {
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow: hidden;
  position: relative;

  .virtual-scroll-content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .virtual-scroll-padding {
    opacity: 0;
    position: relative;
    width: 3px;
  }
}
